.calendar{
    width: 350px;
}

.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}

.calendar-day {
    border: 1px solid black;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.calendar-other-month-day{
    color: rgb(4, 0, 255);
}

.calendar-day-current{
    color: red;
}

.calendar-day-today{
    background-color: black;
}

.calendar-day-selected{
    border: 5px solid blue;
}

.calendar-week-days{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    text-align: center;
    border: 1px solid black;
    background-color: aliceblue;
}